<div class="w-full h-full overflow-hidden" style="background-color: #fff1e6">
  <div class="container h-full mx-auto">
    <div class="flex items-center justify-center h-full">
      <div class="hidden w-0 md:block md:w-3/5">
        <img src="../../../assets//images/hero.png" alt="" />
        <div class="flex items-center justify-start mt-3">
          <img
            src="../../../assets/icons/icon1.png"
            width="48px"
            height="48px"
            alt=""
          />
          <img
            src="../../../assets/icons/icon2.png"
            height="40px"
            width="112px"
            alt=""
          />
        </div>
      </div>
      <div class="w-full px-5 lg:px-10 md:w-2/5">
        <div class="p-10 bg-white rounded-lg shadow-lg">
          <h4 class="text-xl font-semibold text-black">Welcome</h4>
          <div>
            <span class="text-xs text-gray-400">to</span>
            <span class="mx-1 font-semibold text-red-600 text-ls">Tesa</span>
            <span class="text-xs text-gray-400">by</span>
            <span class="ml-1 font-semibold text-red-600 text-ls">BTS.id</span>
          </div>
          <form
            (ngSubmit)="handleSubmit()"
            [formGroup]="registerForm"
            class="flex flex-col mt-5"
          >
            <div>
              <label for="name" class="mb-2 text-sm font-semibold text-black"
                >Name</label
              >
              <div
                [ngClass]="
                  !registerForm.controls.name.valid &&
                  (registerForm.controls.name.dirty ||
                    registerForm.controls.name.touched)
                    ? 'flex items-center border border-red-400 rounded-md px-4 py-2'
                    : 'flex items-center border border-gray-400 rounded-md px-4 py-2'
                "
              >
                <input
                  formControlName="name"
                  id="name"
                  name="name"
                  class="flex-1 text-xs text-gray-400 bg-transparent focus:outline-none focus:bg-none"
                  type="text"
                  placeholder="Your Name"
                />
              </div>
            </div>

            <div
              class="mt-1"
              *ngIf="
                !registerForm.controls.name?.valid &&
                (registerForm.controls.name?.dirty ||
                  registerForm.controls.name?.touched)
              "
            >
              <p class="text-xs text-red-500">Name cannot be empty</p>
            </div>
            <div class="mt-5">
              <label for="email" class="mb-2 text-sm font-semibold text-black"
                >Email</label
              >
              <div
                [ngClass]="
                  !registerForm.controls.email.valid &&
                  (registerForm.controls.email.dirty ||
                    registerForm.controls.email.touched)
                    ? 'flex items-center border border-red-400 rounded-md px-4 py-2'
                    : 'flex items-center border border-gray-400 rounded-md px-4 py-2'
                "
              >
                <input
                  formControlName="email"
                  id="email"
                  name="email"
                  class="flex-1 text-xs text-gray-400 bg-transparent focus:outline-none focus:bg-none"
                  type="text"
                  placeholder="example@email.com"
                />
              </div>
            </div>

            <div
              class="mt-1"
              *ngIf="
                !registerForm.controls.email?.valid &&
                (registerForm.controls.email?.dirty ||
                  registerForm.controls.email?.touched)
              "
            >
              <p class="text-xs text-red-500">Email cannot be empty</p>
            </div>

            <div class="mt-5">
              <label
                for="password"
                class="mb-2 text-sm font-semibold text-black"
                >Password</label
              >
              <div
                [ngClass]="
                  !registerForm.controls.password.valid &&
                  (registerForm.controls.password.dirty ||
                    registerForm.controls.password.touched)
                    ? 'flex items-center border border-red-400 rounded-md px-4 py-2'
                    : 'flex items-center border border-gray-400 rounded-md px-4 py-2'
                "
              >
                <input
                  formControlName="password"
                  id="password"
                  name="password"
                  class="flex-1 text-xs text-gray-400 focus:outline-none"
                  [type]="isVisible ? 'password' : 'text'"
                  placeholder="Password"
                />
                <img
                  (click)="handleShowPassword()"
                  [src]="isVisible ? eyeIcon : closeIcon"
                  height="12px"
                  width="18px"
                  alt="eye"
                  style="cursor: pointer"
                />
              </div>

              <div
                class="mt-1"
                *ngIf="
                  !registerForm.controls.password?.valid &&
                  (registerForm.controls.password?.dirty ||
                    registerForm.controls.password?.touched)
                "
              >
                <p class="text-xs text-red-500">Password cannot be empty</p>
              </div>
            </div>
            <div class="mt-20">
              <button
                type="submit"
                [disabled]="!registerForm.valid"
                class="w-full px-4 py-2 text-xs text-white transition-all duration-200 bg-red-800 rounded-md hover:bg-red-700"
              >
                {{ isLoading ? "Loading..." : "Sign Up" }}
              </button>
              <button
                type="button"
                class="flex items-center justify-center w-full px-4 py-1 mt-5 text-black transition-all duration-200 bg-white border border-gray-200 rounded-md"
              >
                <img
                  src="../../../assets//icons/google.png"
                  width="24px"
                  height="24px"
                  alt=""
                />
                <p class="ml-2 text-xs font-semibold text-black">
                  Sign Up With Googke
                </p>
              </button>
            </div>
          </form>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
