<div
  class="w-full"
  style="background-color: white; height: 100%; overflow: hidden"
>
  <div class="h-full overflow-hidden">
    <header
      class="flex items-center justify-between px-5 bg-white"
      style="padding-top: 20px; padding-bottom: 10px"
    >
      <div class="flex items-center">
        <div class="p-3 bg-white rounded-full eclipse">
          <img
            src="../../../assets/icons/icon1.png"
            width="32px"
            height="27px"
            alt=""
          />
        </div>
        <div class="ml-3">
          <img
            src="../../../assets/icons/dashboardIcon.png"
            width="32px"
            height="27px"
            alt=""
          />
        </div>
        <p class="ml-3 text-sm font-semibold text-black">Board List</p>
      </div>
    </header>
    <div
      class="flex flex-row justify-between block w-full p-5 overflow-x-auto overflow-y-hidden bg-red-700 lg:hidden flex-nowrap"
      style="-webkit-overflow-scrolling: touch"
    >
      <div>
        <img
          style="cursor: pointer"
          routerLink="/dashboard/home"
          src="../../../assets/icons/iconBoard.png"
          width="30px"
          height="30px"
          alt=""
        />
      </div>

      <div>
        <img
          routerLink="/auth"
          class="border border-white rounded-full"
          width="30px"
          height="30px"
          src="../../../assets/icons/profile.png"
          alt=""
        />
      </div>
    </div>

    <div
      class="flex flex-row h-full overflow-x-auto overflow-y-hidden flex-nowrap"
      style="-webkit-overflow-scrolling: touch"
    >
      <div class="w-1/5 px-5 pt-5 pb-20 md:w-1/12" style="height: 90%">
        <div class="hidden h-full lg:block">
          <div
            class="flex flex-col items-center justify-between w-12 h-full pt-5 bg-red-700 rounded-full"
          >
            <div>
              <img
                style="cursor: pointer"
                routerLink="/dashboard/home"
                src="../../../assets/icons/iconBoard.png"
                width="30px"
                height="30px"
                alt=""
              />
            </div>

            <div class="mb-5">
              <img
                routerLink="/auth"
                class="border border-white rounded-full"
                width="30px"
                height="30px"
                src="../../../assets/icons/profile.png"
                alt=""
              />
              <!-- <img
              style="cursor: pointer"
              routerLink="/auth"
              src="../../../assets/icons/logout.png"
              width="40px"
              height="30px"
              alt=""
            /> -->
            </div>
          </div>
        </div>
      </div>

      <div class="h-full pb-20 mx-5 mt-5 md:mx-0">
        <div
          cdkDropListGroup
          cdkDropList
          class="flex flex-row items-start w-full pb-20 mt-3 flex-nowrap"
          cdkDropListOrientation="horizontal"
          (cdkDropListDropped)="dropCheklist($event)"
        >
          <div
            class="inline-block px-2 mr-3 rounded-md shadow-lg"
            style="width: 250px; background-color: #ebecf0; cursor: move"
            *ngFor="let timePeriod of bufferChecklist"
            cdkDrag
          >
            <div class="flex flex-col w-full">
              <div class="flex items-center justify-between">
                <p class="pt-5 mb-2 text-sm font-medium">
                  {{ timePeriod.name }}
                </p>
                <img
                  [matMenuTriggerFor]="menu"
                  #menuTrigger
                  style="cursor: pointer"
                  src="../../../assets/icons/dot.png"
                  width="15px"
                  alt=""
                />
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openEditDialog(timePeriod)">
                    Edit
                  </button>
                  <button mat-menu-item (click)="handleDelete(timePeriod)">
                    Delete
                  </button>
                </mat-menu>
              </div>
              <div
                style="max-height: 350px; overflow-y: auto"
                cdkDropList
                [cdkDropListData]="timePeriod.data"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  style="cursor: pointer"
                  *ngFor="let item of timePeriod.data"
                  cdkDrag
                  [cdkDragDisabled]="item.title.length == 1"
                >
                  <div
                    [ngClass]="
                      item.title.length < 2
                        ? 'bg-white px-4 mb-1'
                        : 'w-full px-4 py-2 mb-2 text-sm bg-white rounded-md '
                    "
                    style="border: 1px solid #e9e9e9"
                  >
                    <div class="flex items-center justify-between">
                      <p class="text-sm text-gray-600 capitalize">
                        {{ item.title }}
                      </p>
                      <img
                        [matMenuTriggerFor]="menuCard"
                        #menuTrigger
                        *ngIf="item.title.length > 2"
                        style="cursor: pointer"
                        src="../../../assets/icons/dot.png"
                        width="15px"
                        alt=""
                      />
                      <mat-menu #menuCard="matMenu">
                        <button
                          mat-menu-item
                          (click)="openDetailCardItem(item)"
                        >
                          Detail Card
                        </button>
                        <button
                          mat-menu-item
                          (click)="openEditCardItemDialog(item, timePeriod)"
                        >
                          Edit Card
                        </button>
                        <button
                          mat-menu-item
                          (click)="handleDeleteCard(timePeriod, item)"
                        >
                          Delete Card
                        </button>
                      </mat-menu>
                    </div>
                    <div
                      class="flex items-center justify-between mt-2"
                      *ngIf="item.title.length > 2"
                    >
                      <div></div>
                      <div>
                        <img
                          width="25px"
                          height="25px"
                          src="../../../assets/icons/profile.png"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-2">
                <button
                  (click)="openAddCardDialog(timePeriod)"
                  class="text-sm text-gray-400"
                >
                  + Add Card
                </button>
              </div>
            </div>
          </div>

          <div
            class="inline-block px-2 mr-3 rounded-md shadow-lg"
            style="width: 250px; background-color: #ebecf0; cursor: move"
          >
            <div class="flex flex-col w-full">
              <div style="max-height: 350px; overflow-y: auto"></div>
              <div class="p-2">
                <button (click)="openDialog()" class="text-sm text-gray-400">
                  + Add Checklist
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
