.example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 90%;
  }
  .example-not-full-width {
    width: 96%;
  }
  
  ::ng-deep .mat-form-field .mat-input-element {
      color: slategray;
      border: 1px solid #E9E9E9;
      padding-left: 16px;
      padding-right: 10px;
      padding-top: 14px;
      padding-bottom: 14px;
      border-radius: 6px;
      font-size: 15px;
      width: 100%;
  }
  ::ng-deep .mat-form-field .mat-form-field-label {
      color: #1A051D!important;
      margin-top: 14px;
      margin-left: 16px;
  }
  ::ng-deep .mat-form-field .mat-form-field-underline {
      background-color: transparent;
  }
  ::ng-deep .mat-form-field .mat-form-field-ripple {
      background-color: transparent;
  }
  ::ng-deep .mat-form-field .mat-form-field-required-marker {
      color: slategray;
  }
  
  
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
      color: #1A051D!important;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
      background-color: transparent;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
      color: #1A051D;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-input-element {
      color: #1A051D;
  }
  
  
  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-input-element {
    color: #1A051D;
    border: 1px solid red;
    padding-left: 16px;
    padding-right: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 6px;
}

  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
      color: #1A051D!important;
  }
  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
      color: #1A051D;
  }
  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
      background-color: transparent;
  }
  