<div style="width: 300px">
  <form
    [formGroup]="form"
    (ngSubmit)="handleSubmit()"
    class="flex flex-col w-full mt-5"
  >
    <div>
      <label for="project" class="text-sm font-semibold text-black"
        >Project</label
      >
      <mat-form-field floatLabel="never" class="example-full-width">
        <input
          matInput
          type="text"
          formControlName="project"
          placeholder="Input Project"
        />
        <mat-error ngx-mat-errors> </mat-error>
      </mat-form-field>
    </div>

    <div class="mt-5">
      <label for="description" class="text-sm font-semibold text-black"
        >Description</label
      >
      <mat-form-field floatLabel="never" class="example-full-width">
        <textarea
          matInput
          formControlName="description"
          placeholder="Description"
        ></textarea>
        <mat-error ngx-mat-errors> </mat-error>
      </mat-form-field>
    </div>

    <div class="mt-20">
      <button
        type="submit"
        class="w-full px-4 py-2 text-xs text-white transition-all duration-200 bg-red-800 rounded-md hover:bg-red-700"
      >
        {{ isLoading ? "Loading..." : "Submit" }}
      </button>
    </div>
  </form>
</div>
