<div style="width: 300px">
  <div>
    <label for="project" class="mb-2 text-sm font-semibold text-black"
      >Title</label
    >
    <div class="flex items-center py-2 rounded-md">
      <p class="text-sm text-black capitalize">{{ data.title }}</p>
    </div>
  </div>

  <div class="mt-5">
    <label for="description" class="mb-2 text-sm font-semibold text-black"
      >Description</label
    >
    <div class="flex items-center py-2 rounded-md">
      <p class="text-sm text-black capitalize">{{ data.description }}</p>
    </div>
  </div>
</div>
