<div class="w-full h-full overflow-hidden" style="background-color: #fff1e6">
  <div class="container h-full mx-auto">
    <div class="flex items-center justify-center h-full">
      <div class="hidden w-0 md:block md:w-3/5">
        <img src="../../../assets//images/hero.png" alt="" />
        <div class="flex items-center justify-start mt-3">
          <img
            src="../../../assets/icons/icon1.png"
            width="48px"
            height="48px"
            alt=""
          />
          <img
            src="../../../assets/icons/icon2.png"
            height="40px"
            width="112px"
            alt=""
          />
        </div>
      </div>
      <div class="w-full px-5 lg:px-10 md:w-2/5">
        <div class="p-5 bg-white rounded-lg shadow-lg md:p-5">
          <h4 class="text-xl font-semibold text-black">Reset Password</h4>
          <div>
            <span class="text-xs text-gray-400">Input your new Password</span>
          </div>
          <form
            (ngSubmit)="handleSubmit()"
            [formGroup]="form"
            class="flex flex-col mt-5"
          >
            <div>
              <label
                for="newPassword"
                class="mb-2 text-sm font-semibold text-black"
                >New Password</label
              >
              <div
                [ngClass]="
                  !form.controls.newPassword.valid &&
                  (form.controls.newPassword.dirty ||
                    form.controls.newPassword.touched)
                    ? 'flex items-center border border-red-400 rounded-md px-4 py-2'
                    : 'flex items-center border border-gray-400 rounded-md px-4 py-2'
                "
              >
                <input
                  formControlName="newPassword"
                  id="newPassword"
                  name="newPassword"
                  class="flex-1 text-xs text-gray-400 focus:outline-none"
                  [type]="isVisible ? 'password' : 'text'"
                  placeholder="New Password"
                />
                <img
                  (click)="handleShowPassword()"
                  [src]="isVisible ? eyeIcon : closeIcon"
                  height="12px"
                  width="18px"
                  alt="eye"
                  style="cursor: pointer"
                />
              </div>
            </div>

            <div
              class="mt-1"
              *ngIf="
                !form.controls.newPassword?.valid &&
                (form.controls.newPassword?.dirty ||
                  form.controls.newPassword?.touched) &&
                form.get('newPassword')?.hasError('strong')
              "
            >
              <p class="text-xs text-red-500">
                Old Password cannot be empty and must contain Uppercase,
                Lowercase, number and symbol
              </p>
            </div>

            <div class="mt-5">
              <label
                for="newPassword"
                class="mb-2 text-sm font-semibold text-black"
                >Confirm New Password</label
              >
              <div
                [ngClass]="
                  !form.controls.confirmNewPassword.valid &&
                  (form.controls.confirmNewPassword.dirty ||
                    form.controls.confirmNewPassword.touched)
                    ? 'flex items-center border border-red-400 rounded-md px-4 py-2'
                    : 'flex items-center border border-gray-400 rounded-md px-4 py-2'
                "
              >
                <input
                  formControlName="confirmNewPassword"
                  id="confirmNewPassword"
                  name="confirmNewPassword"
                  class="flex-1 text-xs text-gray-400 focus:outline-none"
                  [type]="isVisible ? 'password' : 'text'"
                  placeholder="Confirm New Password"
                />
                <img
                  (click)="handleShowPassword()"
                  [src]="isVisible ? eyeIcon : closeIcon"
                  height="12px"
                  width="18px"
                  alt="eye"
                  style="cursor: pointer"
                />
              </div>

              <div
                class="mt-1"
                *ngIf="
                  !form.controls.confirmNewPassword?.valid &&
                  (form.controls.confirmNewPassword?.dirty ||
                    form.controls.confirmNewPassword?.touched) &&
                  form.get('confirmNewPassword')?.hasError('strong')
                "
              >
                <p class="text-xs text-red-500">
                  Confirm New Password cannot be empty and must contain
                  Uppercase, Lowercase, number and symbol
                </p>
              </div>
            </div>
            <div class="mt-20">
              <button
                type="submit"
                class="w-full px-4 py-2 text-xs text-white transition-all duration-200 bg-red-800 rounded-md hover:bg-red-700"
              >
                Confirm
              </button>
            </div>
          </form>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
