<div class="p-5 bg-white" style="width: 300px">
  <h3 class="text-lg font-semibold text-black">Edit Cheklist</h3>
  <form
    [formGroup]="form"
    (ngSubmit)="handleEdit()"
    class="example-form"
    novalidate
  >
    <mat-form-field floatLabel="never" class="example-full-width">
      <input
        matInput
        type="text"
        formControlName="editForm"
        placeholder="Cheklist Name"
        autocomplete="off"
      />
      <mat-error ngx-mat-errors> </mat-error>
    </mat-form-field>

    <div>
      <button
        type="submit"
        class="w-full px-4 py-2 mt-3 text-xs text-white transition-all duration-200 bg-red-800 rounded-md hover:bg-red-700"
      >
        {{ isLoading ? "Loading..." : "Edit" }}
      </button>
    </div>
  </form>
</div>
