<div class="h-full" style="background-color: #fff1e6">
  <div class="h-full mx-auto overflow-hidden">
    <header
      class="flex items-center justify-between px-5 py-2 bg-white shadow-lg"
    >
      <div class="flex items-center">
        <div class="p-3 bg-white rounded-full eclipse">
          <img
            src="../../../assets/icons/icon1.png"
            width="32px"
            height="27px"
            alt=""
          />
        </div>
        <div class="ml-3">
          <img
            src="../../../assets/icons/dashboardIcon.png"
            width="32px"
            height="27px"
            alt=""
          />
        </div>
        <p class="ml-3 text-sm font-semibold text-black">Board List</p>
      </div>
      <button
        (click)="openDialog()"
        class="px-4 py-2 ml-3 text-xs text-white transition-all duration-200 ease-in-out bg-red-700 rounded-md hover:bg-red-600"
      >
        Create Board
      </button>
    </header>

    <div class="flex flex-row h-full">
      <div class="w-1/12 h-full px-5 pt-5 pb-20">
        <div
          class="flex flex-col items-center justify-between w-12 h-full pt-5 bg-red-700 rounded-full"
        >
          <div>
            <img
              style="cursor: pointer"
              routerLink="/dashboard/home"
              src="../../../assets/icons/iconBoard.png"
              width="30px"
              height="30px"
              alt=""
            />
          </div>

          <div class="mb-5">
            <img
              style="cursor: pointer"
              routerLink="/auth"
              src="../../../assets/icons/logout.png"
              width="40px"
              height="30px"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="w-11/12 p-5 pb-20 overflow-y-auto">
        <h2 class="font-semibold text-red-700 text-md">Your List</h2>
        <div class="flex flex-row flex-wrap mt-5 -mx-2">
          <div class="w-1/3 p-2" *ngFor="let board of boards">
            <div
              class="flex flex-col p-2 transition-all duration-200 ease-in-out bg-white rounded-md shadow-xl hover:bg-gray-200"
            >
              <div class="flex items-center justify-between">
                <div
                style="cursor: pointer"
                routerLink="/dashboard/detail/{{ board.id }}"
                  class="px-2 py-1 text-xs text-white bg-indigo-700 rounded-full"
                >
                  {{ board.project }}
                </div>
                <div
                  [matMenuTriggerFor]="menu"
                  #menuTrigger
                  style="cursor: pointer"
                >
                  <img
                    src="../../../assets/icons/dot.png"
                    width="20px"
                    alt=""
                  />
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openEditDialog(board)">
                      Edit
                    </button>
                    <button mat-menu-item (click)="deleteBoard(board.id)">
                      Delete
                    </button>
                  </mat-menu>
                </div>
              </div>
              <div class="flex-1 py-3 text-xs text-gray-500">
                {{ board.description }}
              </div>
              <div class="flex items-center justify-between mt-3">
                <div
                  class="px-2 py-1 text-xs text-white bg-green-400 rounded-full"
                >
                  {{ board.owner }}
                </div>
                <div>
                  <img src="../../../assets/icons/profile.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
